---
import MainLayout from "../components/mainLayout.astro";
import { css } from "../lib/css";
import styles from "../style/index.module.scss";
---

<MainLayout title="Home">
  <main class={styles.main}>
    <div class={styles.inner}>
      <div class={styles.sideA}>
        <h2 class={styles.text1} style="--del: 100ms;">Hi It's,</h2>
        <h1
          class={styles.text2}
          style="animation: classic-fadein 1s ease-in-out forwards, blur-fadein 1s ease-in-out forwards;"
        >
          Mohammed <br /> Amr
        </h1>
      </div>
      <div class={styles.sideB}>
        <span class={styles.item}> SOFTWARE DEVELOPER & DESIGNER </span>
        <div class={styles.expandable}>
          <a
            class={styles.item}
            style="view-transition-name: bio-title;"
            href="/about">ABOUT</a
          >
          <a class={styles.item} href="/projects">PROJECTS</a>
          <a class={styles.item} href="/social">SOCIAL</a>
        </div>

        <!-- <span></span> -->
      </div>
    </div>
  </main>
</MainLayout>
