---
import AboutLayout from "../components/aboutLayout.astro";
import { createPB, PROJECTS_COLLECTION } from "../lib/pb";
import styles from "../style/pages.module.scss";
const pb = createPB();

const data = await pb.collection(PROJECTS_COLLECTION).getFullList();
---

<AboutLayout>
  <div class={styles.projects}>
    <h1 class={styles.title}>Projects</h1>
    <div class={styles.container}>
      {
        data.map((item) => (
          <div class={styles.item}>
            <div class={styles.rowA}>
              <h2>{item.title}</h2>
              <span>{item.year}</span>
            </div>
            <p
              class="max-w-[32ch]"
              style="text-wrap: balance;"
              set:html={item.body}
            />
          </div>
        ))
      }
    </div>
  </div>
</AboutLayout>
