---
import AboutLayout from "../components/aboutLayout.astro";
import styles from "../style/pages.module.scss";
import GHLogo from "../../public/github.svg?raw";
import TGLogo from "../../public/telegram.svg?raw";
---

<AboutLayout>
  <div class={styles.social}>
    <h1 class={styles.title}>Social</h1>
    <div class={styles.container}>
      <div class={styles.item}>
        <a href="https://github.com/ilawy" target="_blank" class={styles.inner}>
          <h2 class="text-2xl font-bold text-gray-600 dark:text-gray-300">
            GitHub
          </h2>
          <span class="text-lg text-gray-600">
            <Fragment set:html={GHLogo} />
          </span>
        </a>
      </div>
      <div class={styles.item}>
        <a href="https://t.me/likeilawy" target="_blank" class={styles.inner}>
          <h2 class="text-2xl font-bold text-gray-600 dark:text-gray-300">
            Telegram
          </h2>
          <span class="text-lg text-gray-600">
            <Fragment set:html={TGLogo} />
          </span>
        </a>
      </div>
    </div>
  </div>
</AboutLayout>
