---
import MainLayout from "../components/mainLayout.astro";
import styles from "../style/layout.module.scss";
---

<MainLayout title="About">
  <main class={styles.about}>
    <slot />
    <div class={styles.sideB}>
      <div class={styles.inner} style="backdrop-filter: blur(10px);">
        <!-- inner -->
        <!-- <a
          href="/technologies"
          class="g-slate-50 dark:bg-[#535C91] rounded-lg w-full p-3"
          >Technologies</a
        > -->
        <a href="/projects" class={styles.item}>Projects</a>
        <a href="/social" class={styles.item}>Social</a>
        <a href="/" class={styles.item}>Home</a>
      </div>
    </div>
  </main>
</MainLayout>
