---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import GhIcon from "../components/icons/ghIcon.astro";
import LinkedInIcon from "../components/icons/linkedInIcon.astro";
import MobileHeader from "../components/mobileHeader";
interface Props {
  title: string;
}

const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Gallery",
    href: "/gallery",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mohammed Amr - {Astro.props.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body class="flex flex-col lg:flex-row p-3">
    <MobileHeader links={links} client:visible />

    <header class="desktop-header">
      {
        links.map((link) => (
          <a
		  transition:persist

            data-route={link.href}
            href={link.href}
            class="header-item p-3 text-center !no-underline"
          >
            {link.label}
          </a>
        ))
      }
    </header>
    <main
      class="css-main css-container flex-1 h-full min-h-[100svh] p-3 flex flex-col before:w-[150%] before:bg-yellow-200]"
    >
      <slot />
      <footer class="mt-auto p-3 flex items-center justify-between">
        <span>
          <a href="/x/umask">Linux mask preview</a>
        </span>
        <span>2025 ● <span>All rights reserved</span></span>
      </footer>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    line-height: 1.75;
  }

  /* .css-main {
		padding: 3em 1em;
	} */

  .desktop-header {
    @apply flex-col w-36 hidden lg:flex gap-4 justify-center items-center border-r;
	position: sticky;
	top: 0;
    .header-item {
      width: 100%;
      translate: -2ch 0;
	  transition: 325ms;
      &[data-active] {
        translate: 0 0;
        &::before {
          opacity: 1;
        }
      }
      &::before {
        content: "->";
        opacity: 0;
      }
    }
  }
</style>

<script>
  import { navigate } from "astro:transitions/client";
  import { URLPattern } from "urlpattern-polyfill";
  document.addEventListener("astro:page-load", (ev) => {
    const currentPath = location.pathname;
    console.log(
      document
        .querySelectorAll("a[data-route]")
        .forEach((a: HTMLAnchorElement) => {
          const result = new URLPattern({ pathname: a.dataset.route }).exec({
            pathname: currentPath,
          });
		  if(result){
			a.dataset.active = "true"
		  }else{
			delete a.dataset.active
		  }
		  
        })
    );
  });
</script>
